@define-color background #020704;
@define-color foreground #EAD078;
@define-color primary #0B2415;
@define-color secondary #53493F;
@define-color alert #215339;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 2px solid @primary;
}

#workspaces button {
  color: @foreground;
}

#clock {
  color: @primary;
}
