/* =========================
   IMPORT (later replace with wal.css)
   ========================= */
 @import url("file:///home/yadhu/.config/waybar/wal.css"); 


/* =========================
   COLORS (temporary test)
*/


/* =========================
   BAR
   ========================= */
window#waybar {
    background: rgba(0, 0, 0, 0.6);
}


/* =========================
   WORKSPACES (LEFT)
   ========================= */
#workspaces button {
    color: @color7;
    padding: 0 6px;
}

#workspaces button.focused {
    color: @color4;
    font-weight: 600;
}

#workspaces button:hover {
    color: @color6;
}


/* =========================
   RIGHT MODULES
   ========================= */
#clock {
    color: @color6;
    padding: 0 8px;
}

#battery {
    color: @color2;
    padding: 0 8px;
}

#temperature {
    color: @color3;
    padding: 0 8px;
}
