@define-color background #000000;
@define-color foreground #8A8DAE;
@define-color primary #AC2E31;
@define-color secondary #31AC61;
@define-color alert #AC4300;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 2px solid @primary;
}

#workspaces button {
  color: @foreground;
}

#clock {
  color: @primary;
}
